*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
  inline-size: 100vw;
  margin: 0 auto;
  font-family: 'Arial', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;

  /* clip: rect(0 0 0 0); */
  clip-path: inset(0, 0, 0, 0);
}